*{
    margin:0px;
    padding: 0px;
    box-sizing:border-box;
}

.main{
    background-image:url("./Assets/hero.jpg");
    height:670px;
    position: relative;
    width:100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1280px,100vw);
}

.main .mainbox{
    /* background-color: black; */
    background-color: rgba(0, 0, 0, 0.4);
    height:670px;
    width:100%;
    top:0;
    left: 0;
    position:absolute;

}

nav{
    display:flex;
    height:60px;
    justify-content: space-between;
    align-items:center;
    max-width:90vw;
}

nav img{
    color: #ff0000;
    width: 130px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.mainhero{
    height: 100%;
    display:flex;
    align-items:center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    color:white;
     font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size:20px;
  font-style: normal;
  gap:10px;
}

.mainhero> :nth-child(1){
    font-size:48px;
    font-weight: 900;
    text-align: center;
    font-family: 'poppins',sans-serif;
}

.mainhero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.mainhero> :nth-child(3){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.btn{
    padding: 3px 8px;
    font-size:400;
    color:#fff;
    background-color: rgba(0, 0, 0, 0.189);
    /* border:white; */
    border-radius:4px;
    cursor: pointer;
    /* border:1px solid white; */
}
.btn-red{
    background:red;
    color:white;
    padding: 3px 23px;
    font-size:20px;
    height: 50px;
    width:200px;
    font-weight: bold;
}

.btn-signin{
    background:red;
    
}

.tbn{
    font-size:20px;

}
.mainhero-buttons{
    display:flex;
    align-items:center;
    justify-content: center;
    gap:8px;
}

input{
    height:50px;
    width:300px;
    padding:10px;
    border-radius:5px;
    font-size:16px;
    background-color: rgba(32, 29, 29, 0.626);
    border: 1px solid white;
    padding: 7px 100px 9px 15px;
}

.separate{
    height: 5px;
    background: gray;
    position: relative;
    z-index: 20;
}

.container{
    position:block;
    display:flex;
    max-width:70vw;
    margin:auto;
    justify-content: space-around;
    align-items: center;
    /* font-size: 40px; */
    color:white;
         font-family: "Poppins", sans-serif;

}



body{
    background-color: black;
}


section.container>div{
    display: flex;
    flex-direction: column;
    padding: 34px;
}

h1{    font-size:2rem;
    font-weight:bolder;
}

p{
    font-size:1rem;
    font-weight:normal;
}

.l{
    display:flex;
    justify-content:flex-start; /* move content to left */
    align-items:center;
}

.faq{
    color: #fff;
    background:black;
    padding: 30px;
}

.faq h2{
    text-align: center;
    font-weight: 900;
    font-size:48px;
        margin-bottom: 20px;

}

.faqbox{
    font-weight:400px;
    font-size:24px;
    max-width: 60vw;
    display: flex;
    justify-content:space-between;
    margin:auto;
    background-color: #2d2d2d;
    padding:10px;
    cursor: pointer;
    margin-bottom: 5px;
    
}

.que{
    margin-top: 20px;
    align-items: center;
    justify-content: center;
}
.faqbox:hover{
        background-color: #3d3c3c;

}

footer{
    color:rgb(245, 245, 245);
    max-width: 60vw;
    align-items: center;
        margin: 0 auto;  
        /* justify-content: space-around; */

}

.items{
    color:rgb(245, 245, 245);
    grid-row: 3fr;
    display: block;
}

.footer-box{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    /* display: flex; */
}

.footer-su {
    display: flex;
    gap: 5px;
    color: #fff;
        justify-content: center;
        /* flex-direction:column; */
    margin:50px;
}

.items a {
    color: white;
    text-decoration: none;  
    display: block; 
    padding: 5px;/* optional: removes underline */
}

